<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="css/about.css">

    <title>About</title>
</head>
<body>
    <h1>About me</h1>
    <div class="card1">
        <img src="\img\me.jpg" alt="my-picture" class="my-pic" height="350" width="240">
        <img src="\img\emak.png" alt="emakina" class="my-pic" height="350" width="240">
        <p class="p1">
            Hi everyone! I am Cem.

            I graduated from Dokuz Eylul University. I was interested in web technologies throughout my school life and worked on freelance projects. Then I started working as a software developer in logistics. After my graduation, I focused on CRM technologies and worked in the telecommunications industry.
            
            I have been interested in music for a very long time. I like to play many instruments such as guitar, keyboard and drums. I also love interest with music production.
            
            Now, I am  part of the Cloudcrazy family. I am so happy and excited! </p>
        
    </div>
    
</body>
</html>